*,
:after,
:before {
	border-color: #e5e7eb;
	border-style: solid;
	border-width: 0;
	box-sizing: border-box
}

:after,
:before {
	--tw-content: ""
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	-moz-tab-size: 4;
	tab-size: 4
}

body {
	line-height: inherit;
	margin: 0
}

hr {
	border-top-width: 1px;
	color: inherit;
	height: 0
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit
}

a {
	color: inherit;
	text-decoration: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
	font-feature-settings: normal;
	font-size: 1em;
	font-variation-settings: normal
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: initial
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

table {
	border-collapse: collapse;
	border-color: inherit;
	text-indent: 0
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font-family: inherit;
	font-feature-settings: inherit;
	font-size: 100%;
	font-variation-settings: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0
}

button,
select {
	text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
	background-color: initial;
	background-image: none
}

:-moz-focusring {
	outline: auto
}

:-moz-ui-invalid {
	box-shadow: none
}

progress {
	vertical-align: initial
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0
}

fieldset {
	margin: 0
}

fieldset,
legend {
	padding: 0
}

menu,
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0
}

dialog {
	padding: 0
}

textarea {
	resize: vertical
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #9ca3af;
	opacity: 1
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
	color: #9ca3af;
	opacity: 1
}

input::placeholder,
textarea::placeholder {
	color: #9ca3af;
	opacity: 1
}

[role=button],
button {
	cursor: pointer
}

:disabled {
	cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle
}

img,
video {
	height: auto;
	max-width: 100%
}

[hidden] {
	display: none
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-weight: 300;
	src: url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Light.8b20023e.ttf), url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Light.ca40aa50.woff2) format("woff2")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-weight: 400;
	src: url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Regular.4b4ebe20.ttf), url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Regular.ffc27ad8.woff2) format("woff2")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-weight: 500;
	src: url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Medium.a52d0bf0.ttf), url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Medium.1a95ac98.woff2) format("woff2")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-weight: 600;
	src: url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-SemiBold.98512bf8.ttf), url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-SemiBold.5737c67d.woff2) format("woff2")
}

@font-face {
	font-display: swap;
	font-family: Poppins;
	font-weight: 700;
	src: url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Bold.8001a01b.ttf), url(https://lf-cdn.trae.ai/obj/trae-ai-us/trae_website_prod/static/font/Poppins-Bold.189ebbea.woff2) format("woff2")
}

:root {
	--bg-color: #101218;
	--text-1: #f2f4f9;
	--light-text-1: #1d1f29;
	--text-black: #1d1f29;
	--gray-1: #f2f4f9;
	--gray-2: #eaebf0;
	--gray-3: #dee0e5;
	--gray-6: #a1a2a9;
	--gray-9: #5f6169;
	--gray-10: #494b54;
	--gray-11: #33353e;
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 10% 3.9%;
	--submit-button-bg: 220, 76%, 50%, 1;
	--submit-button-text-color: 0, 0%, 100%, 1;
	--radius: 0.5rem
}

.dark {
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;
	--card: 240 10% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 240 10% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 240 5.9% 10%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 240 3.7% 15.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 356 56% 55%;
	--destructive-foreground: 0 0% 98%;
	--submit-button-bg: 220 76% 50%;
	--submit-button-text-color: 0 0% 100%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
	--btn-bg: #ffffffe6;
	--btn-bg-hover: #fff;
	--input-border-focus: #78a2f3;
	--brand: #2161e0;
	--brand-hover: #387bff;
	--brand-active: #1759dd;
	--brand-opacity-1: #2161e029;
	--brand-text: #5297ff;
	--text-gray: #9599a6;
	--text-black: #111314;
	--line-1: rgba(194, 202, 242, .08);
	--line-2: rgba(194, 202, 242, .16);
	--line-3: rgba(194, 202, 242, .24);
	--bg-1: rgba(237, 241, 248, .05);
	--bg-3: #33363d;
	--bg-main: #000;
	--bg-code: #181a1f;
	--text-default: #dadde5;
	--text-default-hover: #fff;
	--text-color-text-1: #c7ccd6;
	--text-highlight: #fff;
	--opacity-bg-color-1: #edf1f80d;
	--opacity-bg-color-2: #edf1f81a;
	--error: #cc4b53;
	--text-disable: #41454d;
	--fill-light: #d5d8e0;
	--strong-error-border: #cc4b533d;
	--strong-error-bg: #210c0d
}

* {
	border-color: hsl(var(--border))
}

body {
	background-color: var(--bg-color);
	color: var(--text-1);
	font-family: Poppins, -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Segoe UI, Microsoft YaHei, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400
}

*,
:after,
:before {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

::-ms-backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, .5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
	width: 100%
}

@media (min-width:0px) {
	.container {
		max-width: 0
	}
}

@media (min-width:768px) {
	.container {
		max-width: 768px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 992px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1200px
	}
}

@media (min-width:1400px) {
	.container {
		max-width: 1400px
	}
}

.sr-only {
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	clip: rect(0, 0, 0, 0);
	border-width: 0;
	white-space: nowrap
}

.pointer-events-none {
	pointer-events: none
}

.\!visible {
	visibility: visible !important
}

.visible {
	visibility: visible
}

.invisible {
	visibility: hidden
}

.static {
	position: static
}

.fixed {
	position: fixed
}

.absolute {
	position: absolute
}

.relative {
	position: relative
}

.inset-0 {
	inset: 0
}

.inset-auto {
	inset: auto
}

.inset-x-0 {
	left: 0;
	right: 0
}

.-bottom-12 {
	bottom: -3rem
}

.-left-12 {
	left: -3rem
}

.-right-12 {
	right: -3rem
}

.-top-12 {
	top: -3rem
}

.bottom-0 {
	bottom: 0
}

.left-0 {
	left: 0
}

.left-1\/2 {
	left: 50%
}

.left-2 {
	left: .5rem
}

.left-\[50\%\] {
	left: 50%
}

.right-0 {
	right: 0
}

.right-1\/2 {
	right: 50%
}

.right-2 {
	right: .5rem
}

.right-4 {
	right: 1rem
}

.top-0 {
	top: 0
}

.top-1\/2 {
	top: 50%
}

.top-4 {
	top: 1rem
}

.top-\[50\%\] {
	top: 50%
}

.isolate {
	isolation: isolate
}

.z-0 {
	z-index: 0
}

.z-10 {
	z-index: 10
}

.z-20 {
	z-index: 20
}

.z-30 {
	z-index: 30
}

.z-40 {
	z-index: 40
}

.z-50 {
	z-index: 50
}

.z-\[1\] {
	z-index: 1
}

.-mx-1 {
	margin-left: -.25rem;
	margin-right: -.25rem
}

.mx-1 {
	margin-left: .25rem;
	margin-right: .25rem
}

.mx-auto {
	margin-left: auto;
	margin-right: auto
}

.my-1 {
	margin-bottom: .25rem;
	margin-top: .25rem
}

.my-10 {
	margin-bottom: 2.5rem;
	margin-top: 2.5rem
}

.my-5 {
	margin-bottom: 1.25rem;
	margin-top: 1.25rem
}

.-ml-4 {
	margin-left: -1rem
}

.-mt-4 {
	margin-top: -1rem
}

.mb-12 {
	margin-bottom: 3rem
}

.mb-20 {
	margin-bottom: 5rem
}

.mb-40 {
	margin-bottom: 10rem
}

.mb-60 {
	margin-bottom: 15rem
}

.mb-8 {
	margin-bottom: 2rem
}

.mb-\[24px\] {
	margin-bottom: 24px
}

.mb-\[8px\] {
	margin-bottom: 8px
}

.ml-1 {
	margin-left: .25rem
}

.ml-4 {
	margin-left: 1rem
}

.ml-6 {
	margin-left: 1.5rem
}

.ml-\[12px\] {
	margin-left: 12px
}

.ml-\[2px\] {
	margin-left: 2px
}

.ml-\[6px\] {
	margin-left: 6px
}

.ml-auto {
	margin-left: auto
}

.mr-1 {
	margin-right: .25rem
}

.mr-2 {
	margin-right: .5rem
}

.mr-\[4px\] {
	margin-right: 4px
}

.mt-10 {
	margin-top: 2.5rem
}

.mt-2 {
	margin-top: .5rem
}

.mt-24 {
	margin-top: 6rem
}

.mt-3 {
	margin-top: .75rem
}

.mt-4 {
	margin-top: 1rem
}

.mt-\[1px\] {
	margin-top: 1px
}

.mt-\[48px\] {
	margin-top: 48px
}

.mt-\[4px\] {
	margin-top: 4px
}

.mt-\[60px\] {
	margin-top: 60px
}

.mt-\[8px\] {
	margin-top: 8px
}

.mt-auto {
	margin-top: auto
}

.box-border {
	box-sizing: border-box
}

.box-content {
	box-sizing: initial
}

.block {
	display: block
}

.inline-block {
	display: inline-block
}

.inline {
	display: inline
}

.flex {
	display: flex
}

.inline-flex {
	display: inline-flex
}

.table {
	display: table
}

.grid {
	display: grid
}

.hidden {
	display: none
}

.aspect-square {
	aspect-ratio: 1/1
}

.h-10 {
	height: 2.5rem
}

.h-11 {
	height: 2.75rem
}

.h-2 {
	height: .5rem
}

.h-3 {
	height: .75rem
}

.h-3\.5 {
	height: .875rem
}

.h-36 {
	height: 9rem
}

.h-4 {
	height: 1rem
}

.h-40 {
	height: 10rem
}

.h-44 {
	height: 11rem
}

.h-48 {
	height: 12rem
}

.h-5 {
	height: 1.25rem
}

.h-56 {
	height: 14rem
}

.h-6 {
	height: 1.5rem
}

.h-8 {
	height: 2rem
}

.h-9 {
	height: 2.25rem
}

.h-\[100\%\] {
	height: 100%
}

.h-\[100vh\] {
	height: 100vh
}

.h-\[108px\] {
	height: 108px
}

.h-\[16px\] {
	height: 16px
}

.h-\[1px\] {
	height: 1px
}

.h-\[2\.625rem\] {
	height: 2.625rem
}

.h-\[200px\] {
	height: 200px
}

.h-\[246px\] {
	height: 246px
}

.h-\[36px\] {
	height: 36px
}

.h-\[56px\] {
	height: 56px
}

.h-\[60px\] {
	height: 60px
}

.h-\[var\(--radix-select-trigger-height\)\] {
	height: var(--radix-select-trigger-height)
}

.h-auto {
	height: auto
}

.h-full {
	height: 100%
}

.h-px {
	height: 1px
}

.h-screen {
	height: 100vh
}

.max-h-96 {
	max-height: 24rem
}

.max-h-\[360px\] {
	max-height: 360px
}

.min-h-\[100px\] {
	min-height: 100px
}

.min-h-screen {
	min-height: 100vh
}

.w-1\/2 {
	width: 50%
}

.w-10 {
	width: 2.5rem
}

.w-3 {
	width: .75rem
}

.w-3\.5 {
	width: .875rem
}

.w-4 {
	width: 1rem
}

.w-40 {
	width: 10rem
}

.w-5 {
	width: 1.25rem
}

.w-6 {
	width: 1.5rem
}

.w-64 {
	width: 16rem
}

.w-72 {
	width: 18rem
}

.w-8 {
	width: 2rem
}

.w-9 {
	width: 2.25rem
}

.w-\[100\%\] {
	width: 100%
}

.w-\[100px\] {
	width: 100px
}

.w-\[108px\] {
	width: 108px
}

.w-\[136px\] {
	width: 136px
}

.w-\[16px\] {
	width: 16px
}

.w-\[1px\] {
	width: 1px
}

.w-\[200px\] {
	width: 200px
}

.w-\[20rem\] {
	width: 20rem
}

.w-\[30rem\] {
	width: 30rem
}

.w-\[560px\] {
	width: 560px
}

.w-\[56px\] {
	width: 56px
}

.w-\[60px\] {
	width: 60px
}

.w-\[84px\] {
	width: 84px
}

.w-auto {
	width: auto
}

.w-fit {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content
}

.w-full {
	width: 100%
}

.w-screen {
	width: 100vw
}

.min-w-0 {
	min-width: 0
}

.min-w-\[8rem\] {
	min-width: 8rem
}

.min-w-\[var\(--radix-select-trigger-width\)\] {
	min-width: var(--radix-select-trigger-width)
}

.\!max-w-full {
	max-width: 100% !important
}

.max-w-lg {
	max-width: 32rem
}

.max-w-sm {
	max-width: 24rem
}

.flex-1 {
	flex: 1 1 0%
}

.shrink-0 {
	flex-shrink: 0
}

.grow-0 {
	flex-grow: 0
}

.basis-\[1rem\] {
	flex-basis: 1rem
}

.basis-\[40px\] {
	flex-basis: 40px
}

.basis-\[80px\] {
	flex-basis: 80px
}

.basis-\[88px\] {
	flex-basis: 88px
}

.basis-full {
	flex-basis: 100%
}

.caption-bottom {
	caption-side: bottom
}

.-translate-x-1\/2 {
	--tw-translate-x: -50%
}

.-translate-x-1\/2,
.-translate-y-1\/2 {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-1\/2 {
	--tw-translate-y: -50%
}

.-translate-y-\[12\.5rem\] {
	--tw-translate-y: -12.5rem
}

.-translate-y-\[12\.5rem\],
.-translate-y-\[6rem\] {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-translate-y-\[6rem\] {
	--tw-translate-y: -6rem
}

.translate-x-\[-50\%\] {
	--tw-translate-x: -50%
}

.translate-x-\[-50\%\],
.translate-y-12 {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-12 {
	--tw-translate-y: 3rem
}

.translate-y-\[-50\%\] {
	--tw-translate-y: -50%
}

.translate-y-\[-50\%\],
.translate-y-\[1px\] {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.translate-y-\[1px\] {
	--tw-translate-y: 1px
}

.translate-y-full {
	--tw-translate-y: 100%
}

.rotate-90,
.translate-y-full {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rotate-90 {
	--tw-rotate: 90deg
}

.scale-x-150 {
	--tw-scale-x: 1.5
}

.scale-x-150,
.scale-y-125 {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-y-125 {
	--tw-scale-y: 1.25
}

.transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes pulse {
	50% {
		opacity: .5
	}
}

.animate-pulse {
	animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite
}

@keyframes spin {
	to {
		transform: rotate(1turn)
	}
}

.animate-spin {
	animation: spin 1s linear infinite
}

.\!cursor-wait {
	cursor: wait !important
}

.cursor-default {
	cursor: default
}

.cursor-not-allowed {
	cursor: not-allowed
}

.cursor-pointer {
	cursor: pointer
}

.select-none {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.resize {
	resize: both
}

.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr))
}

.flex-row {
	flex-direction: row
}

.flex-col {
	flex-direction: column
}

.flex-col-reverse {
	flex-direction: column-reverse
}

.items-start {
	align-items: flex-start
}

.items-center {
	align-items: center
}

.justify-start {
	justify-content: flex-start
}

.justify-center {
	justify-content: center
}

.justify-between {
	justify-content: space-between
}

.gap-1 {
	gap: .25rem
}

.gap-1\.5 {
	gap: .375rem
}

.gap-2 {
	gap: .5rem
}

.gap-4 {
	gap: 1rem
}

.space-y-1>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(.25rem*var(--tw-space-y-reverse));
	margin-top: calc(.25rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-1\.5>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(.375rem*var(--tw-space-y-reverse));
	margin-top: calc(.375rem*(1 - var(--tw-space-y-reverse)))
}

.space-y-2>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-bottom: calc(.5rem*var(--tw-space-y-reverse));
	margin-top: calc(.5rem*(1 - var(--tw-space-y-reverse)))
}

.self-stretch {
	align-self: stretch
}

.overflow-auto {
	overflow: auto
}

.overflow-hidden {
	overflow: hidden
}

.overflow-visible {
	overflow: visible
}

.overflow-y-auto {
	overflow-y: auto
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis
}

.truncate,
.whitespace-nowrap {
	white-space: nowrap
}

.break-words {
	overflow-wrap: break-word
}

.rounded {
	border-radius: .25rem
}

.rounded-\[12px\] {
	border-radius: 12px
}

.rounded-\[21px\] {
	border-radius: 21px
}

.rounded-\[40px\] {
	border-radius: 40px
}

.rounded-full {
	border-radius: 9999px
}

.rounded-md {
	border-radius: calc(var(--radius) - 2px)
}

.rounded-none {
	border-radius: 0
}

.rounded-sm {
	border-radius: calc(var(--radius) - 4px)
}

.rounded-xl {
	border-radius: .75rem
}

.rounded-t-\[10px\] {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

.rounded-br-none {
	border-bottom-right-radius: 0
}

.rounded-tr-none {
	border-top-right-radius: 0
}

.border {
	border-width: 1px
}

.border-b {
	border-bottom-width: 1px
}

.border-t {
	border-top-width: 1px
}

.border-none {
	border-style: none
}

.border-\[\#DDE2E914\] {
	border-color: #dde2e914
}

.border-\[var\(--input-border-focus\)\] {
	border-color: var(--input-border-focus)
}

.border-\[var\(--line-3\)\] {
	border-color: var(--line-3)
}

.border-destructive {
	border-color: hsl(var(--destructive))
}

.border-input {
	border-color: hsl(var(--input))
}

.border-primary {
	border-color: hsl(var(--primary))
}

.bg-\[\#00000050\] {
	background-color: #00000050
}

.bg-\[\#01022e\] {
	--tw-bg-opacity: 1;
	background-color: rgb(1 2 46/var(--tw-bg-opacity))
}

.bg-\[\#0d122c\] {
	--tw-bg-opacity: 1;
	background-color: rgb(13 18 44/var(--tw-bg-opacity))
}

.bg-\[\#FFF\] {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.bg-\[var\(--bg-main\)\] {
	background-color: var(--bg-main)
}

.bg-\[var\(--brand\)\] {
	background-color: var(--brand)
}

.bg-\[var\(--brand-opacity-1\)\] {
	background-color: var(--brand-opacity-1)
}

.bg-\[var\(--btn-bg\)\] {
	background-color: var(--btn-bg)
}

.bg-\[var\(--error\2c \#CC4B53\)\] {
	background-color: var(--error, #cc4b53)
}

.bg-\[var\(--line-3\)\] {
	background-color: var(--line-3)
}

.bg-background,
.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0/var(--tw-bg-opacity))
}

.bg-black\/80 {
	background-color: rgba(0, 0, 0, .8)
}

.bg-border {
	background-color: hsl(var(--border))
}

.bg-destructive {
	background-color: hsl(var(--destructive))
}

.bg-muted {
	background-color: hsl(var(--muted))
}

.bg-muted\/50 {
	background-color: hsl(var(--muted)/.5)
}

.bg-popover {
	background-color: hsl(var(--popover))
}

.bg-primary {
	background-color: hsl(var(--primary))
}

.bg-primary\/10 {
	background-color: hsl(var(--primary)/.1)
}

.bg-secondary {
	background-color: hsl(var(--secondary))
}

.bg-submit-button-bg {
	background-color: hsl(var(--submit-button-bg))
}

.bg-transparent {
	background-color: initial
}

.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255/var(--tw-bg-opacity))
}

.from-\[\#0d122c\] {
	--tw-gradient-from: #0d122c var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(13, 18, 44, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.from-transparent {
	--tw-gradient-from: transparent var(--tw-gradient-from-position);
	--tw-gradient-to: transparent var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.via-transparent {
	--tw-gradient-to: transparent var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), transparent var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.to-\[\#0d122c\] {
	--tw-gradient-to: #0d122c var(--tw-gradient-to-position)
}

.to-transparent {
	--tw-gradient-to: transparent var(--tw-gradient-to-position)
}

.bg-cover {
	background-size: cover
}

.bg-center {
	background-position: 50%
}

.fill-current {
	fill: currentColor
}

.fill-primary {
	fill: hsl(var(--primary))
}

.p-1 {
	padding: .25rem
}

.p-2 {
	padding: .5rem
}

.p-4 {
	padding: 1rem
}

.p-6 {
	padding: 1.5rem
}

.px-0 {
	padding-left: 0;
	padding-right: 0
}

.px-2 {
	padding-left: .5rem;
	padding-right: .5rem
}

.px-3 {
	padding-left: .75rem;
	padding-right: .75rem
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem
}

.px-7 {
	padding-left: 1.75rem;
	padding-right: 1.75rem
}

.px-8 {
	padding-left: 2rem;
	padding-right: 2rem
}

.px-\[12px\] {
	padding-left: 12px;
	padding-right: 12px
}

.px-\[16px\] {
	padding-left: 16px;
	padding-right: 16px
}

.px-\[24px\] {
	padding-left: 24px;
	padding-right: 24px
}

.py-0 {
	padding-bottom: 0;
	padding-top: 0
}

.py-1 {
	padding-bottom: .25rem;
	padding-top: .25rem
}

.py-1\.5 {
	padding-bottom: .375rem;
	padding-top: .375rem
}

.py-2 {
	padding-bottom: .5rem;
	padding-top: .5rem
}

.py-4 {
	padding-bottom: 1rem;
	padding-top: 1rem
}

.py-5 {
	padding-bottom: 1.25rem;
	padding-top: 1.25rem
}

.py-\[16px\] {
	padding-bottom: 16px;
	padding-top: 16px
}

.pb-4 {
	padding-bottom: 1rem
}

.pl-2 {
	padding-left: .5rem
}

.pl-2\.5 {
	padding-left: .625rem
}

.pl-4 {
	padding-left: 1rem
}

.pl-8 {
	padding-left: 2rem
}

.pl-\[10px\] {
	padding-left: 10px
}

.pr-1 {
	padding-right: .25rem
}

.pr-2 {
	padding-right: .5rem
}

.pr-2\.5 {
	padding-right: .625rem
}

.pr-8 {
	padding-right: 2rem
}

.pr-\[10px\] {
	padding-right: 10px
}

.pt-0 {
	padding-top: 0
}

.pt-4 {
	padding-top: 1rem
}

.pt-\[6px\] {
	padding-top: 6px
}

.text-left {
	text-align: left
}

.text-center {
	text-align: center
}

.align-middle {
	vertical-align: middle
}

.align-bottom {
	vertical-align: bottom
}

.font-sans {
	font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem
}

.text-\[0\.8rem\] {
	font-size: .8rem
}

.text-\[14px\] {
	font-size: 14px
}

.text-\[32px\] {
	font-size: 32px
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem
}

.text-sm {
	font-size: .875rem;
	line-height: 1.25rem
}

.text-xs {
	font-size: .75rem;
	line-height: 1rem
}

.font-black {
	font-weight: 900
}

.font-extrabold {
	font-weight: 800
}

.font-medium {
	font-weight: 500
}

.font-normal {
	font-weight: 400
}

.font-semibold {
	font-weight: 600
}

.uppercase {
	text-transform: uppercase
}

.lining-nums {
	--tw-numeric-figure: lining-nums;
	font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.leading-10 {
	line-height: 2.5rem
}

.leading-4 {
	line-height: 1rem
}

.leading-5 {
	line-height: 1.25rem
}

.leading-7 {
	line-height: 1.75rem
}

.leading-\[54px\] {
	line-height: 54px
}

.leading-none {
	line-height: 1
}

.tracking-tight {
	letter-spacing: -.025em
}

.tracking-wide {
	letter-spacing: .025em
}

.tracking-widest {
	letter-spacing: .1em
}

.text-\[\#06F\] {
	--tw-text-opacity: 1;
	color: rgb(0 102 255/var(--tw-text-opacity))
}

.text-\[\#ADB0B8\] {
	--tw-text-opacity: 1;
	color: rgb(173 176 184/var(--tw-text-opacity))
}

.text-\[\#CB272D\] {
	--tw-text-opacity: 1;
	color: rgb(203 39 45/var(--tw-text-opacity))
}

.text-\[\#CC4B53\] {
	--tw-text-opacity: 1;
	color: rgb(204 75 83/var(--tw-text-opacity))
}

.text-\[\#FF4B39\] {
	--tw-text-opacity: 1;
	color: rgb(255 75 57/var(--tw-text-opacity))
}

.text-\[color\:var\(--text-color-text-1\2c \#C7CCD6\)\] {
	color: var(--text-color-text-1, #c7ccd6)
}

.text-\[color\:var\(--text\\_gray\2c \#737780\)\] {
	color: var(--text_gray, #737780)
}

.text-\[var\(--brand-text\)\] {
	color: var(--brand-text)
}

.text-\[var\(--text-black\)\] {
	color: var(--text-black)
}

.text-\[var\(--text-gray\)\] {
	color: var(--text-gray)
}

.text-\[var\(--text-highlight\)\] {
	color: var(--text-highlight)
}

.text-blue-500 {
	--tw-text-opacity: 1;
	color: rgb(59 130 246/var(--tw-text-opacity))
}

.text-card-foreground {
	color: hsl(var(--card-foreground))
}

.text-destructive {
	color: hsl(var(--destructive))
}

.text-destructive-foreground {
	color: hsl(var(--destructive-foreground))
}

.text-muted-foreground {
	color: hsl(var(--muted-foreground))
}

.text-popover-foreground {
	color: hsl(var(--popover-foreground))
}

.text-primary {
	color: hsl(var(--primary))
}

.text-primary-foreground {
	color: hsl(var(--primary-foreground))
}

.text-red-500 {
	--tw-text-opacity: 1;
	color: rgb(239 68 68/var(--tw-text-opacity))
}

.text-secondary-foreground {
	color: hsl(var(--secondary-foreground))
}

.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255/var(--tw-text-opacity))
}

.text-white\/75 {
	color: hsla(0, 0%, 100%, .75)
}

.underline {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline
}

.underline-offset-4 {
	text-underline-offset: 4px
}

.subpixel-antialiased {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto
}

.opacity-10 {
	opacity: .1
}

.opacity-50 {
	opacity: .5
}

.opacity-60 {
	opacity: .6
}

.opacity-70 {
	opacity: .7
}

.opacity-80 {
	opacity: .8
}

.shadow {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color)
}

.shadow,
.shadow-lg {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-lg {
	--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color)
}

.shadow-md {
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color)
}

.shadow-md,
.shadow-sm {
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
	--tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color)
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.outline {
	outline-style: solid
}

.ring-offset-background {
	--tw-ring-offset-color: #000
}

.blur {
	--tw-blur: blur(8px)
}

.blur,
.blur-2xl {
	-webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-2xl {
	--tw-blur: blur(40px)
}

.blur-3xl {
	--tw-blur: blur(64px)
}

.blur-3xl,
.blur-\[50px\] {
	-webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.blur-\[50px\] {
	--tw-blur: blur(50px)
}

.filter {
	-webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-md {
	--tw-backdrop-blur: blur(12px)
}

.backdrop-blur-md,
.backdrop-filter {
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
	transition-duration: .15s;
	transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, -webkit-text-decoration-color, -webkit-filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-all {
	transition-duration: .15s;
	transition-property: all;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-colors {
	transition-duration: .15s;
	transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-opacity {
	transition-duration: .15s;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.transition-transform {
	transition-duration: .15s;
	transition-property: transform;
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.duration-0 {
	transition-duration: 0s
}

.duration-200 {
	transition-duration: .2s
}

.duration-300 {
	transition-duration: .3s
}

.ease-in-out {
	transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

@keyframes enter {
	0% {
		opacity: var(--tw-enter-opacity, 1);
		transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
	}
}

@keyframes exit {
	to {
		opacity: var(--tw-exit-opacity, 1);
		transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
	}
}

.animate-in {
	animation-duration: .15s;
	animation-name: enter;
	--tw-enter-opacity: initial;
	--tw-enter-scale: initial;
	--tw-enter-rotate: initial;
	--tw-enter-translate-x: initial;
	--tw-enter-translate-y: initial
}

.fade-in-0 {
	--tw-enter-opacity: 0
}

.zoom-in-95 {
	--tw-enter-scale: .95
}

.duration-0 {
	animation-duration: 0s
}

.duration-200 {
	animation-duration: .2s
}

.duration-300 {
	animation-duration: .3s
}

.ease-in-out {
	animation-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.paused {
	animation-play-state: paused
}

.\[--conic-position\:from_290deg_at_center_top\] {
	--conic-position: from 290deg at center top
}

.\[--conic-position\:from_70deg_at_center_top\] {
	--conic-position: from 70deg at center top
}

.\[mask-image\:linear-gradient\(to_left\2c white\2c transparent\)\] {
	-webkit-mask-image: linear-gradient(270deg, #fff, transparent);
	mask-image: linear-gradient(270deg, #fff, transparent)
}

.\[mask-image\:linear-gradient\(to_right\2c white\2c transparent\)\] {
	-webkit-mask-image: linear-gradient(90deg, #fff, transparent);
	mask-image: linear-gradient(90deg, #fff, transparent)
}

.\[mask-image\:linear-gradient\(to_top\2c white\2c transparent\)\] {
	-webkit-mask-image: linear-gradient(0deg, #fff, transparent);
	mask-image: linear-gradient(0deg, #fff, transparent)
}

.dark input:-internal-autofill-selected,
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:hover {
	-webkit-text-fill-color: #fff !important;
	-webkit-box-shadow: inset 0 0 0 100px #000;
	font-size: 1rem !important;
	letter-spacing: normal;
	-webkit-text-size-adjust: 100%;
	background-color: #000 !important;
	caret-color: #fff
}

.dark input.raw-email:-internal-autofill-selected,
.dark input.raw-email:-webkit-autofill {
	border: 1px solid #2d2e2f;
	caret-color: #fff
}

.dark input.raw-email:-webkit-autofill:hover {
	border: 1px solid #2d2e2f;
	caret-color: #fff
}

.dark input.raw-email:-webkit-autofill:focus {
	border: 1px solid #78a2f3;
	caret-color: #fff
}

.placeholder\:text-\[var\(--text-gray\)\]::-webkit-input-placeholder {
	color: var(--text-gray)
}

.placeholder\:text-\[var\(--text-gray\)\]::-ms-input-placeholder {
	color: var(--text-gray)
}

.placeholder\:text-\[var\(--text-gray\)\]::placeholder {
	color: var(--text-gray)
}

.placeholder\:text-muted-foreground::-webkit-input-placeholder {
	color: hsl(var(--muted-foreground))
}

.placeholder\:text-muted-foreground::-ms-input-placeholder {
	color: hsl(var(--muted-foreground))
}

.placeholder\:text-muted-foreground::placeholder {
	color: hsl(var(--muted-foreground))
}

.hover\:cursor-pointer:hover {
	cursor: pointer
}

.hover\:border-\[var\(--input-border-focus\)\]:hover {
	border-color: var(--input-border-focus)
}

.hover\:bg-\[\#387BFF\]:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(56 123 255/var(--tw-bg-opacity))
}

.hover\:bg-\[var\(--brand-hover\)\]:hover {
	background-color: var(--brand-hover)
}

.hover\:bg-\[var\(--btn-bg-hover\)\]:hover {
	background-color: var(--btn-bg-hover)
}

.hover\:bg-accent:hover {
	background-color: hsl(var(--accent))
}

.hover\:bg-destructive\/90:hover {
	background-color: hsl(var(--destructive)/.9)
}

.hover\:bg-muted\/50:hover {
	background-color: hsl(var(--muted)/.5)
}

.hover\:bg-secondary\/80:hover {
	background-color: hsl(var(--secondary)/.8)
}

.hover\:text-\[white\]:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255/var(--tw-text-opacity))
}

.hover\:text-accent-foreground:hover {
	color: hsl(var(--accent-foreground))
}

.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255/var(--tw-text-opacity))
}

.hover\:underline:hover {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline
}

.hover\:opacity-100:hover {
	opacity: 1
}

.focus\:border-none:focus {
	border-style: none
}

.focus\:border-\[var\(--input-border-focus\)\]:focus {
	border-color: var(--input-border-focus)
}

.focus\:bg-accent:focus {
	background-color: hsl(var(--accent))
}

.focus\:text-accent-foreground:focus {
	color: hsl(var(--accent-foreground))
}

.focus\:outline-none:focus {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.focus\:ring-0:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.focus\:ring-0:focus,
.focus\:ring-1:focus {
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-1:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color)
}

.focus\:ring-2:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ring-ring:focus {
	--tw-ring-color: hsl(var(--ring))
}

.focus\:ring-offset-2:focus {
	--tw-ring-offset-width: 2px
}

.focus-visible\:outline-none:focus-visible {
	outline: 2px solid transparent;
	outline-offset: 2px
}

.focus-visible\:ring-1:focus-visible {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus-visible\:ring-ring:focus-visible {
	--tw-ring-color: hsl(var(--ring))
}

.disabled\:pointer-events-none:disabled {
	pointer-events: none
}

.disabled\:cursor-not-allowed:disabled {
	cursor: not-allowed
}

.disabled\:bg-\[\#2161E029\]:disabled {
	background-color: #2161e029
}

.disabled\:bg-\[var\(--brand-opacity-1\)\]:disabled {
	background-color: var(--brand-opacity-1)
}

.disabled\:text-\[var\(--text-disable\)\]:disabled {
	color: var(--text-disable)
}

.disabled\:opacity-50:disabled {
	opacity: .5
}

.peer:disabled~.peer-disabled\:cursor-not-allowed {
	cursor: not-allowed
}

.peer:disabled~.peer-disabled\:opacity-70 {
	opacity: .7
}

.data-\[disabled\]\:pointer-events-none[data-disabled] {
	pointer-events: none
}

.data-\[side\=bottom\]\:translate-y-1[data-side=bottom] {
	--tw-translate-y: 0.25rem
}

.data-\[side\=bottom\]\:translate-y-1[data-side=bottom],
.data-\[side\=left\]\:-translate-x-1[data-side=left] {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=left\]\:-translate-x-1[data-side=left] {
	--tw-translate-x: -0.25rem
}

.data-\[side\=right\]\:translate-x-1[data-side=right] {
	--tw-translate-x: 0.25rem
}

.data-\[side\=right\]\:translate-x-1[data-side=right],
.data-\[side\=top\]\:-translate-y-1[data-side=top] {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=top\]\:-translate-y-1[data-side=top] {
	--tw-translate-y: -0.25rem
}

@keyframes accordion-up {
	0% {
		height: var(--radix-accordion-content-height)
	}

	to {
		height: 0
	}
}

.data-\[state\=closed\]\:animate-accordion-up[data-state=closed] {
	animation: accordion-up .2s ease-out
}

@keyframes accordion-down {
	0% {
		height: 0
	}

	to {
		height: var(--radix-accordion-content-height)
	}
}

.data-\[state\=open\]\:animate-accordion-down[data-state=open] {
	animation: accordion-down .2s ease-out
}

.data-\[state\=open\]\:bg-accent[data-state=open] {
	background-color: hsl(var(--accent))
}

.data-\[state\=selected\]\:bg-muted[data-state=selected] {
	background-color: hsl(var(--muted))
}

.data-\[state\=open\]\:text-muted-foreground[data-state=open] {
	color: hsl(var(--muted-foreground))
}

.data-\[disabled\]\:opacity-50[data-disabled] {
	opacity: .5
}

.data-\[state\=open\]\:animate-in[data-state=open] {
	animation-duration: .15s;
	animation-name: enter;
	--tw-enter-opacity: initial;
	--tw-enter-scale: initial;
	--tw-enter-rotate: initial;
	--tw-enter-translate-x: initial;
	--tw-enter-translate-y: initial
}

.data-\[state\=closed\]\:animate-out[data-state=closed] {
	animation-duration: .15s;
	animation-name: exit;
	--tw-exit-opacity: initial;
	--tw-exit-scale: initial;
	--tw-exit-rotate: initial;
	--tw-exit-translate-x: initial;
	--tw-exit-translate-y: initial
}

.data-\[state\=closed\]\:fade-out-0[data-state=closed] {
	--tw-exit-opacity: 0
}

.data-\[state\=open\]\:fade-in-0[data-state=open] {
	--tw-enter-opacity: 0
}

.data-\[state\=closed\]\:zoom-out-95[data-state=closed] {
	--tw-exit-scale: .95
}

.data-\[state\=open\]\:zoom-in-95[data-state=open] {
	--tw-enter-scale: .95
}

.data-\[side\=bottom\]\:slide-in-from-top-2[data-side=bottom] {
	--tw-enter-translate-y: -0.5rem
}

.data-\[side\=left\]\:slide-in-from-right-2[data-side=left] {
	--tw-enter-translate-x: 0.5rem
}

.data-\[side\=right\]\:slide-in-from-left-2[data-side=right] {
	--tw-enter-translate-x: -0.5rem
}

.data-\[side\=top\]\:slide-in-from-bottom-2[data-side=top] {
	--tw-enter-translate-y: 0.5rem
}

.data-\[state\=closed\]\:slide-out-to-left-1\/2[data-state=closed] {
	--tw-exit-translate-x: -50%
}

.data-\[state\=closed\]\:slide-out-to-top-\[48\%\][data-state=closed] {
	--tw-exit-translate-y: -48%
}

.data-\[state\=open\]\:slide-in-from-left-1\/2[data-state=open] {
	--tw-enter-translate-x: -50%
}

.data-\[state\=open\]\:slide-in-from-top-\[48\%\][data-state=open] {
	--tw-enter-translate-y: -48%
}

@media (min-width:640px) {
	.sm\:max-w-\[80vw\] {
		max-width: 80vw
	}

	.sm\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}

	.sm\:flex-row {
		flex-direction: row
	}

	.sm\:justify-end {
		justify-content: flex-end
	}

	.sm\:space-x-2>:not([hidden])~:not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-left: calc(.5rem*(1 - var(--tw-space-x-reverse)));
		margin-right: calc(.5rem*var(--tw-space-x-reverse))
	}

	.sm\:rounded-lg {
		border-radius: var(--radius)
	}

	.sm\:text-left {
		text-align: left
	}
}

@media (min-width:768px) {
	.md\:max-w-\[480px\] {
		max-width: 480px
	}
}

@media (min-width:1024px) {
	.lg\:max-w-\[640px\] {
		max-width: 640px
	}
}

.\[\&\:has\(\[role\=checkbox\]\)\]\:pr-0:has([role=checkbox]) {
	padding-right: 0
}

.\[\&\>\[role\=checkbox\]\]\:translate-y-\[2px\]>[role=checkbox] {
	--tw-translate-y: 2px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.\[\&\>span\]\:line-clamp-1>span {
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1
}

.\[\&\>tr\]\:last\:border-b-0:last-child>tr {
	border-bottom-width: 0
}

.\[\&\[data-state\=open\]\>svg\]\:rotate-180[data-state=open]>svg {
	--tw-rotate: 180deg;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.\[\&_tr\:last-child\]\:border-0 tr:last-child {
	border-width: 0
}

.\[\&_tr\]\:border-b tr {
	border-bottom-width: 1px
}

.global-toast-container [role=status] {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-left: 4px;
	overflow: hidden;
	text-overflow: ellipsis
}

.custom-toast-mask {
	background-color: rgba(0, 0, 0, .5);
	cursor: not-allowed;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999
}